<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="home.html">Personal Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="blog-index.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.html#about">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.html#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>